@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Ubuntu:wght@300&display=swap");

/* .mainNewsContainer,
.artcleTitle,
.articleDescription,
.articleUrl,
.article {
    border: 1px solid red;
} */

.mainNewsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  align-items: flex-start;
}

.article {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  height: fit-content;
  width: 210px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  /* border: 1px solid grey; */
}

.article:hover {
  -webkit-animation: shadow-drop-2-center 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  transition: transform 0.3s ease-in-out;
}

.articleTitle {
  font-family: "Roboto Mono", monospace;
  font-family: "Ubuntu", sans-serif;
}

.articleDescription,
.articleUrl {
  font-family: "Roboto Mono", monospace;
  font-family: "Ubuntu", sans-serif;
}

/* article shadow drop */
 @-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  
